.slider-container {
  padding: 40px;
  display: flex;
}
.title {
  position: absolute;
  left: 19.17%;
  right: 63.06%;
  top: 68.68%;
  bottom: 28.84%;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
}
.books {
  height: 150px;
  width: 150px;
}
.book-heading {
  position: absolute;
  width: 130px;
  height: 24px;
  left: 24px;
  top: 300px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.slider {
  osition: absolute;
  width: 146px;
  height: 99px;
  left: 28px;
  top: 336px;

  border-radius: 2px;
}
